In [1]:
import importlib

def check_and_install(module_name):
    try:
        importlib.import_module(module_name)
        print(f"{module_name} is already installed.")
    except ImportError:
        print(f"{module_name} is not installed. Installing...")
        import subprocess
        subprocess.check_call(["pip", "install", module_name])

# List of required modules
required_modules = [
    "pandas",
    "numpy",
    "sqlalchemy",
    "geoalchemy2",
    "shapely"
]

# Check and install each required module
for module in required_modules:
    check_and_install(module)

pandas is already installed.
numpy is already installed.
sqlalchemy is already installed.
geoalchemy2 is already installed.
shapely is already installed.

In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import Column, String, Text, Integer, select, Date, create_engine, inspect
from geoalchemy2 import Geometry
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
import logging
from shapely.wkb import loads

In [3]:
user_name = 'l01-4'
#use the file way of storing password or set passw to your password
with open("l01-4_password.txt") as f:
    passw = f.read()

# Calgary Crime Statistics
## Source: City of Calgary's Open Data Portal
Changelog for Data Export to SQL Table

*From Crime Statistics*

- Resident Count - strip the comma, so it only contains numeric characters
- Replace Community Name, with Community Code
- Format the date field to datetime format for MariaDB - YYYY-MM

- Room for improvement - get actual GEOM_POINT of crime, it is not derived off the community point, if community boundaries change


- Include COMM_CODE Category	Crime Count	Resident Count	Date  ID
- Convert (Community) Name to Community Code, this is for normalization for better database performance
- Make ID a primary Key and rename to CRIME_ID
- Convert Date to format '%Y/%m' and rename to Crime Date to avoid keyword as column name
- uppercase and _ in column name for consistency
- where we have missing location data such as Sector or Community Point, try to compensate with our Community Point data from a previously loaded dataset

    
Link: https://data.calgary.ca/Health-and-Safety/Community-Crime-Statistics/78gh-n26t/about_data

Link: https://data.calgary.ca/Base-Maps/Community-Points/j9ps-fyst/about

In [4]:
df_crimes = pd.read_csv("Community_Crime_Statistics_20240229.csv")
# Rename columns to uppercase
df_crimes.columns = df_crimes.columns.str.upper()
df_crimes = df_crimes.rename(columns={'COMMUNITY NAME': 'NAME'})
#df_crimes.head(5)
df_crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67262 entries, 0 to 67261
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SECTOR                  67227 non-null  object
 1   NAME                    67262 non-null  object
 2   CATEGORY                67262 non-null  object
 3   CRIME COUNT             67262 non-null  int64
 4   RESIDENT COUNT          67193 non-null  object
 5   DATE                    67262 non-null  object
 6   YEAR                    67262 non-null  int64
 7   MONTH                   67262 non-null  object
 8   ID                      67262 non-null  object
 9   COMMUNITY CENTER POINT  67227 non-null  object
dtypes: int64(2), object(8)
memory usage: 5.1+ MB

In [6]:
df_crimes

,SECTOR,NAME,CATEGORY,CRIME COUNT,RESIDENT COUNT,DATE,YEAR,MONTH,ID,COMMUNITY CENTER POINT
0,NORTHWEST,01B,Theft FROM Vehicle,1,0,2023/12,2023,DEC,2023-DEC-01B-Theft FROM Vehicle,POINT (-114.24261426059833 51.102826007628536)
1,NORTHWEST,01K,Assault (Non-domestic),1,0,2022/07,2022,JUL,2022-JUL-01K-Assault (Non-domestic),POINT (-114.22271630893266 51.16872429008923)
2,NORTHWEST,01K,Assault (Non-domestic),1,0,2022/11,2022,NOV,2022-NOV-01K-Assault (Non-domestic),POINT (-114.22271630893266 51.16872429008923)
3,NORTHWEST,01K,Assault (Non-domestic),2,0,2022/12,2022,DEC,2022-DEC-01K-Assault (Non-domestic),POINT (-114.22271630893266 51.16872429008923)
4,NORTHWEST,01K,Assault (Non-domestic),1,0,2023/09,2023,SEP,2023-SEP-01K-Assault (Non-domestic),POINT (-114.22271630893266 51.16872429008923)
...,...,...,...,...,...,...,...,...,...,...
67257,WEST,VALLEY RIDGE,Break & Enter - Commercial,1,"5,585",2022/03,2022,MAR,2022-MAR-VALLEY RIDGE-Break & Enter - Commercial,POINT (-114.25129736956058 51.095388691563684)
67258,NORTHWEST,VARSITY,Violence Other (Non-domestic),2,"12,874",2020/12,2020,DEC,2020-DEC-VARSITY-Violence Other (Non-domestic),POINT (-114.1625067595007 51.096053770173505)
67259,NORTHWEST,VARSITY,Theft OF Vehicle,4,"12,874",2018/12,2018,DEC,2018-DEC-VARSITY-Theft OF Vehicle,POINT (-114.1625067595007 51.096053770173505)
67260,NORTHEAST,WHITEHORN,Street Robbery,2,"12,019",2022/10,2022,OCT,2022-OCT-WHITEHORN-Street Robbery,POINT (-113.9700681964178 51.088779871474486)
67261,CENTRE,TUXEDO PARK,Violence Other (Non-domestic),1,"5,326",2018/11,2018,NOV,2018-NOV-TUXEDO PARK-Violence Other (Non-domes...,POINT (-114.06104493215598 51.07421777158121)

In [7]:
# Define the database connection string
database_url = f"mysql+mysqlconnector://{user_name}:{passw}@datasciencedb.ucalgary.ca/{user_name}"
# Set the global logging level to WARNING
logging.getLogger().setLevel(logging.WARNING)
# Set the logging level for SQLAlchemy to WARNING, from now on no more INFO, CATEGORY
logging.getLogger('sqlalchemy').setLevel(logging.WARNING)
# Create the SQLAlchemy engine
engine = create_engine(database_url, echo=False)  # Set echo to True for debugging

# Test the connection
with engine.connect() as connection:
    result = connection.execute("SELECT 1")
    print(result.scalar())

1

In [10]:
# Define the Base class
Base = declarative_base()

# Define the Community class
class Community(Base):
    __tablename__ = 'communities'

    COMM_CODE = Column(String, primary_key=True)
    CLASS_CODE = Column(String)
    COMMUNITY_NAME = Column(String)
    SECTOR = Column(String)
    SRG = Column(String)
    COMM_STRUCTURE = Column(String)
    LONGITUDE = Column(String)
    LATITUDE = Column(String)
    COMMUNITY_POINT = Column(Geometry('POINT', srid=4326))
    COMMUNITY_BOUNDARY = Column(Geometry('POLYGON', srid=4326))

# Define the SQL query
sql_query = select([Community.COMM_CODE, Community.COMMUNITY_NAME,Community.SECTOR,Community.COMMUNITY_POINT])

# Execute the query and load results into a Pandas DataFrame
df_communities = pd.read_sql_query(sql_query, engine)

# Convert WKBElement values to Shapely geometry objects
df_communities['COMMUNITY_POINT'] = df_communities['COMMUNITY_POINT'].apply(lambda x: loads(bytes.fromhex(str(x))))
df_communities

,COMM_CODE,COMMUNITY_NAME,SECTOR,COMMUNITY_POINT
0,01B,01B,NORTHWEST,POINT (-114.242455310672 51.102837628963)
1,01C,01C,WEST,POINT (-114.237134065874 51.086776461022)
2,01F,01F,NORTHWEST,POINT (-114.263365862096 51.119618566467)
3,01H,01H,WEST,POINT (-114.28068484036 51.091041709388)
4,01I,01I,WEST,POINT (-114.260847983135 51.080167871655)
...,...,...,...,...
305,WND,WINDSOR PARK,CENTRE,POINT (-114.083548819223 51.005043176725)
306,WOO,WOODLANDS,SOUTH,POINT (-114.106169044305 50.942993367)
307,WSP,WEST SPRINGS,WEST,POINT (-114.206168318752 51.05973239845)
308,WWO,WOLF WILLOW,SOUTH,POINT (-114.008636787791 50.87072429912)
309,YKV,YORKVILLE,SOUTH,POINT (-114.076647581736 50.870403446876)

In [ ]:
# Merge the DataFrames based on a common column
# Assuming 'COMM_CODE' is the common key
df_crimes_merged = pd.merge(
    df_crimes,
    df_communities[['COMM_CODE', 'NAME', 'SECTOR', 'COMMUNITY_POINT']],
    on='NAME',
    how='left',
    suffixes=('', '_communities')
)
df_crimes_merged

In [ ]:

# Rename the 'polygon' column to 'COMMUNITY_BOUNDARY'
df_crimes_merged = df_crimes_merged.rename(columns={'COMM_CODE_communities': 'COMM_CODE'})
df_crimes_merged = df_crimes_merged.rename(columns={'CRIME COUNT': 'CRIME_COUNT'})
df_crimes_merged = df_crimes_merged.rename(columns={'RESIDENT COUNT': 'RESIDENT_COUNT'})
df_crimes_merged = df_crimes_merged.rename(columns={'DATE': 'CRIME_DATE'})
df_crimes_merged = df_crimes_merged.rename(columns={'COMMUNITY CENTER POINT': 'COMMUNITY_CENTER_POINT'})
df_crimes_merged = df_crimes_merged.rename(columns={'ID': 'CRIME_ID'})
# Replace NaN values in 'COMM_CODE' with values from 'NAME'
df_crimes_merged['COMM_CODE'].fillna(df_crimes_merged['NAME'], inplace=True)
df_crimes_merged['SECTOR'].fillna(df_crimes_merged['SECTOR_communities'], inplace=True)
df_crimes_merged['COMMUNITY_CENTER_POINT'].fillna(df_crimes_merged['COMMUNITY_POINT'], inplace=True)


# Convert NaN to None
df_crimes_merged.replace({np.nan: None}, inplace=True)
# Convert RESIDENT_COUNT to integer
df_crimes_merged['RESIDENT_COUNT'] = pd.to_numeric(df_crimes_merged['RESIDENT_COUNT'].str.replace(',', ''), errors='coerce').fillna(0).astype(int)

# Convert CRIME_DATE to datetime
df_crimes_merged['CRIME_DATE'] = pd.to_datetime(df_crimes_merged['CRIME_DATE'], format='%Y/%m', errors='coerce')

#remove NaN for None so it is null in SQL
# Convert NaN to None
df_crimes_merged.replace({np.nan: None}, inplace=True)

# Rename columns to uppercase
df_crimes_merged.info()

In [ ]:
# Check for NaN values in the entire DataFrame
nan_check = df_crimes_merged.isna().any()

# Print columns with NaN values
print("Columns with NaN values:")
print(nan_check[nan_check])

# Find rows where COMM_CODE is NaN
nan_comm_code_rows = df_crimes_merged[df_crimes_merged['COMM_CODE']=='ABT']

# Display rows where COMM_CODE is NaN
print("Rows with NaN values in 'COMM_CODE':")
print(nan_comm_code_rows)

In [ ]:
class CrimeStatistics(Base):
    __tablename__ = 'crime_statistics'

    CRIME_ID = Column(String(255), primary_key=True)
    SECTOR = Column(String(255))
    COMM_CODE = Column(String(255))
    CATEGORY = Column(String(255))
    CRIME_COUNT = Column(Integer)
    RESIDENT_COUNT = Column(Integer)
    CRIME_DATE = Column(Date)
    COMMUNITY_CENTER_POINT = Column(Geometry('POINT', srid=4326))


# Create the tables with extend_existing=True
#Base.metadata.create_all(engine, extend_existing=True)

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
# Loop through the first 5 rows of the DataFrame and insert data into the database
#for index, row in df_crimes_merged.head(5).iterrows():
for index, row in df_crimes_merged.iterrows():
    try:
        crime_statistic = CrimeStatistics(
            CRIME_ID=row['CRIME_ID'],
            SECTOR=row['SECTOR'],
            COMM_CODE=row['COMM_CODE'],
            CATEGORY=row['CATEGORY'],
            CRIME_COUNT=row['CRIME_COUNT'],
            RESIDENT_COUNT=row['RESIDENT_COUNT'],
            CRIME_DATE=row['CRIME_DATE'],
            COMMUNITY_CENTER_POINT=row['COMMUNITY_CENTER_POINT']
        )
        if (index + 1) % 1000 == 0:
            # Print progress at every 1000 index
            progress = (index + 1) / len(df_crimes_merged) * 100
            print(f"Progress: {progress:.2f}%")
        session.add(crime_statistic)
    

    except Exception as e:
        print(f"Error in row {index}: {e}")
        print(row)  # Print the entire row for reference
        #session.rollback()  # Rollback the transaction to continue with the next row

session.commit()  # Commit the transaction

In [ ]:
session.close()

In [ ]:
#session.rollback()